*~
*.iml
*.sw[po]
*-old

.#*
.DS_Store
.history

/TODO*.md
/tsconfig.tsbuildinfo

/microtortoise-data*.json

/typescript/cypress/screenshots/
/typescript/cypress/videos/
/typescript/dist/
/typescript/node_modules/

target/
tmp/
